<!DOCTYPE HTML>
<html>
	<head>
		<style>
			html, body {
				font: 12px Arial;
			}
		</style>
	</head>
	<body>
		<p style="padding-top: 32px; padding-bottom: 16px;">Hello, {name}</p>
		<p>I’ve just received your information and have spent the last couple of hours knocking out your Custom Macro Blueprint. I hope you are super excited!!</p>
		<p>The following details are going to ensure that you use the IIFYM approach successfully. I don’t want you to just see results, I want you to crush it. And, by using the custom program I have created, you will do just that.</p>
		<p>Please remember though, you will want to run all this by your doctor before getting started to ensure it’s right for you. You should do this with any new diet or exercise program you plan on starting. Your health should always be the first thing you consider!</p>
		{?nursing}
			<p>In addition to the above advisement, it’s especially crucial for you since you are nursing. This is because you need a surplus of macros in order to keep your milk supply at a healthy level, so don’t be alarmed if your caloric intake is higher than you expected. The increase mainly stems from needing to bump up your protein and fat intake.</p>
		{/nursing}
		{?pregnant}
			<p>Since you are pregnant, it’s even more vital that this diet program is viewed by your physician. What will be the clear difference in your blueprint is a steep increase in macros in order to help you sustain efficient energy levels while you progress through your pregnancy. This may be surprising initially but your body will adjust to the consumption.</p>
		{/pregnant}
		<p>
			<b>
				<i>So then, what are macros and why are they important?</i>
			</b>
		</p>
		<p>Macronutrients or 'macros' as they are sometimes called, are nutrients needed in large quantities by the human body. There are four macronutrients: carbohydrates, protein, fat and alcohol. Each one of these plays a different role in the body which is why it is best to fuel our bodies with the right amount of the 3 important macros. Alcohol is not one of the macros that we give a daily allotment for, but they do have calories, so they must be tracked if you choose to drink.</p>
		<p>The only place that calories come from are from the macros, so when you accurately hit your macros, you automatically hit your calories.</p>
		<p>So then, on to macros.</p>
    <p>
      <b style="text-decoration: underline;">Carbohydrates:</b> While not considered absolutely ‘essential’ for survival, the fact is, without carbs, your body simply doesn’t function optimally. Without carbs:
      <ul>
        <li>Your exercise performance declines</li>
        <li>Your recovery from exercise will be reduced</li>
        <li>Your mental performance gets sluggish</li>
        <li>You’ll miss out on many micronutrients (vitamins and minerals) along with antioxidants that keep your body running optimally and disease free</li>
        <li>You’ll fail to take in enough fiber, a type of carbohydrate that keeps you regular and induces satiety after your meals</li>
        <li>And most of all, your metabolism with drop, making it more difficult to burn fat and gain muscle. Without carbs you simply are not fueling your body properly!</li>
      </ul>
    </p>
    <p>As you can see, your body GREATLY benefits from eating carbs to perform. You can mainly find this nutrient in starchy foods like grains, potatoes, and beans, along with (in smaller amounts) fruits and vegetables, but there are all kinds of carbs in all kinds of foods. With IIFYM, we are not too concerned with where they come from, as long as you hit YOUR allotment for the day.</p>
		<p>
			<b>
				<i>Each gram of carbohydrates you consume provides 4 calories.</i>
			</b>
		</p>
		<p>
			<b style="text-decoration: underline;">Protein:</b> When you hear protein, what do you think? A bodybuilder chugging back a protein shake? If so, you aren’t alone. And all in all, this is the right idea. Protein is the nutrient that helps with the building and repairing of lean muscle mass tissue. But, that’s not all it does. Protein is also essential for helping with the formation of enzymes and neurotransmitters, both of which regulate various bodily processes.
		</p>
		<p>And, don’t think that eating protein means you will become the next Hulk. <span style="text-decoration: underline;">Everyone</span> needs protein in their diet to survive. Being active will increase your need slightly, as you’ll be creating more muscular damage on a day-in, day-out basis.</p>
		<p>You’ll find protein in animal based foods such as poultry, meats, fish, eggs, whey, and dairy, and in smaller amounts on foods like beans, lentils, and nuts. For our vegan clients, there are loads of plant based protein shakes available.</p>
		<p>
			<b>
				<i>Each gram of protein you consume provides 4 calories.</i>
			</b>
		</p>
	</body>
</html>
