<!DOCTYPE HTML>
<html>
	<head>
		<style>
			html, body {
				font: 12px Arial;
			}
			.table {
				text-align: center;
				border: 1px solid black;
				border-spacing: 0;
				border-collapse: collapse;
			}
			.table th, .table td {
				padding: 6px;
				border: 1px solid black;
			}
			.table .header {
				background: #9CC2E5;
			}
			.table .footer {
				background: #D0CECE;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<p style="padding-top: 32px; padding-bottom: 16px;">Hello, {name}</p>
		<p>I’ve just received your information and have spent the last couple of hours knocking out your Custom Macro Blueprint. I hope you are super excited!!</p>
		<p>The following details are going to ensure that you use the IIFYM approach successfully. I don’t want you to just see results, I want you to crush it. And, by using the custom program I have created, you will do just that.</p>
		<p>Please remember though, you will want to run all this by your doctor before getting started to ensure it’s right for you. You should do this with any new diet or exercise program you plan on starting. Your health should always be the first thing you consider!</p>
		{?nursing}
			<p>In addition to the above advisement, it’s especially crucial for you since you are nursing. This is because you need a surplus of macros in order to keep your milk supply at a healthy level, so don’t be alarmed if your caloric intake is higher than you expected. The increase mainly stems from needing to bump up your protein and fat intake.</p>
		{/nursing}
		{?pregnant}
			<p>Since you are pregnant, it’s even more vital that this diet program is viewed by your physician. What will be the clear difference in your blueprint is a steep increase in macros in order to help you sustain efficient energy levels while you progress through your pregnancy. This may be surprising initially but your body will adjust to the consumption.</p>
		{/pregnant}
		<p>
			<b>
				<i>So then, what are macros and why are they important?</i>
			</b>
		</p>
		<p>Macronutrients or 'macros' as they are sometimes called, are nutrients needed in large quantities by the human body. There are four macronutrients: carbohydrates, protein, fat and alcohol. Each one of these plays a different role in the body which is why it is best to fuel our bodies with the right amount of the 3 important macros. Alcohol is not one of the macros that we give a daily allotment for, but they do have calories, so they must be tracked if you choose to drink.</p>
		<p>The only place that calories come from are from the macros, so when you accurately hit your macros, you automatically hit your calories.</p>
		<p>So then, on to macros.</p>
    <p>
      <b style="text-decoration: underline;">Carbohydrates:</b> While not considered absolutely ‘essential’ for survival, the fact is, without carbs, your body simply doesn’t function optimally. Without carbs:
      <ul>
        <li>Your exercise performance declines</li>
        <li>Your recovery from exercise will be reduced</li>
        <li>Your mental performance gets sluggish</li>
        <li>You’ll miss out on many micronutrients (vitamins and minerals) along with antioxidants that keep your body running optimally and disease free</li>
        <li>You’ll fail to take in enough fiber, a type of carbohydrate that keeps you regular and induces satiety after your meals</li>
        <li>And most of all, your metabolism with drop, making it more difficult to burn fat and gain muscle. Without carbs you simply are not fueling your body properly!</li>
      </ul>
    </p>
    <p>As you can see, your body GREATLY benefits from eating carbs to perform. You can mainly find this nutrient in starchy foods like grains, potatoes, and beans, along with (in smaller amounts) fruits and vegetables, but there are all kinds of carbs in all kinds of foods. With IIFYM, we are not too concerned with where they come from, as long as you hit YOUR allotment for the day.</p>
		<p>
			<b>
				<i>Each gram of carbohydrates you consume provides 4 calories.</i>
			</b>
		</p>
		<p>
			<b style="text-decoration: underline;">Protein:</b> When you hear protein, what do you think? A bodybuilder chugging back a protein shake? If so, you aren’t alone. And all in all, this is the right idea. Protein is the nutrient that helps with the building and repairing of lean muscle mass tissue. But, that’s not all it does. Protein is also essential for helping with the formation of enzymes and neurotransmitters, both of which regulate various bodily processes.
		</p>
		<p>And, don’t think that eating protein means you will become the next Hulk. <span style="text-decoration: underline;">Everyone</span> needs protein in their diet to survive. Being active will increase your need slightly, as you’ll be creating more muscular damage on a day-in, day-out basis.</p>
		<p>You’ll find protein in animal based foods such as poultry, meats, fish, eggs, whey, and dairy, and in smaller amounts on foods like beans, lentils, and nuts. For our vegan clients, there are loads of plant based protein shakes available.</p>
		<p>
			<b>
				<i>Each gram of protein you consume provides 4 calories.</i>
			</b>
		</p>
		<p><b style="text-decoration: underline;">Fat:</b> Think consuming fat makes you fat? Think again! Fact is, fat is essential for our survival. You need fats for normal growth and development, long-term energy cellular repair, as well as hormone production and balance. Without fat, you wouldn’t survive long. It also adds greater satiety to your meals by slowing down the digestion process.</p>
		<p>There are three main types of fats: saturated, unsaturated and trans. Trans fats can increase your risk of heart disease, cancer, and many other diseases and should be avoided entirely. They’re usually found in processed and deep fried foods, or any food that uses the term ‘partially hydrogenated vegetable oil’.</p>
		<p>Saturated fats, when consumed in excess, can also be linked to heart disease, however you do need a small amount in your diet each day. In men, this fat can help with maintaining normal level of testosterone and in women, it can help with the regulation of the menstrual cycle. You’ll typically find it in animal based food such as beef and dairy.</p>
		<p>Unsaturated fats are the best fats to consume and are found in olive oil, coconut oil, nuts and avocado. These fats have been shown to help lower cardiovascular disease, improve your blood cholesterol prolife, and can also help improve brain function as well. Of particular importance here are the omega-3 fatty acids, which are found primarily in fatty varieties of fish.</p>
		<p><b><i>Each gram of fat you consume provides 9 calories.</i></b></p>
		<p>
			<span style="text-decoration: underline;">Achieving the right balance of macronutrients is incredibly important to your health and fitness goals, and will also help ensure optimal energy and well-being.</span>
		</p>
		<p style="text-decoration: underline;">
			<b>Your Official IIFYM Macro Suggestion</b>
		</p>
		<p>Okay, now that you have the basics down about macros, let’s talk about your recommendations.</p>
		<p>Based on the information that you have sent me, I have calculated the following recommendations for you and have rounded them to the nearest whole number to keep things simple.</p>
		<p>
			<b>These are your new daily targets:</b>
			<div>
				<b>
					<span style="text-decoration: underline;">Protein</span> = {protein_grams_per_day} grams per day
				</b>
			</div>
			<div>
				<b>
					<span style="text-decoration: underline;">Carbs</span> = {carb_grams_per_day} grams per day (30-35 of which should be fiber) 
				</b>
			</div>
			<div>
				<b>
					<span style="text-decoration: underline;">Fat</span> = {fat_grams_per_day} grams per day
				</b>
			</div>
			<div>
				<b>
					<span style="text-decoration: underline;">Water</span> = 3 to 4 liters per day in addition to your regular fluid intake (on top of coffee, soda, tea etc.)
				</b>
			</div>
		</p>
		<p>This puts you right at xxxx calories which is less than your body burns in a given day. Setting your calories lower than your daily requirement is a surefire way to trigger immediate fat loss.</p>
		<p>If you’ve ever felt restricted on a diet plan, you will find this program to be much different (consume these macros every day). This amount of macros may surprise you initially but your variables (especially your high activity) suggest that this is a solid starting point for you.</p>
		<p>With the above macros I have given you a healthy dose of protein to assist with building muscle.</p>
		<p>I am also giving you enough fat to keep your hormones at an optimal level, ensuring you feel your very best each and every day. This level of fat should also help decrease any hunger you experience on this meal plan, making it that much easier to use.</p>
		<p>Finally, I am also giving you enough carbs to both fuel your workouts and facilitate recovery from your weight lifting sessions while keeping your metabolism ramped, insuring you keep burning fat at an optimal rate.</p>
		<p>Crash dieting is only going to damage your metabolism and sacrifice your muscle mass. Since this would be a steep increase for you right now, I want you to stop dieting at the moment. Take 2-3 weeks off (a diet break), start eating more than xxx calories (within reason). After you have given yourself some time off, move into hitting the macro targets above.</p>
		<p>Since you are currently eating xxx grams of carbs, I want you to ramp up your intake. You’ll start at xxx the first week, and add xx/week thereafter until you hit xxx grams. This will be an easier transition for you, and your body will have a smoother adjustment period.</p>
		<p style="text-decoration: underline;">
			<b>Making Adjustments to your macros</b>
		</p>
		<p>Remember, this will take some trial and error. I set your macros up based on the information you provided but adjustments will need to be made based on your progress. Some of our clients drop weight too fast, but most gain weight at first.  Yes, that is correct. Most people gain weight their first week of following the macros we put them on.</p>
		<p>Please try to remember that even if you gain weight your first few days (or week), you are only gaining water weight from the increase in carbs, but you are still burning fat since we have you in a caloric deficit. The reason for this is that the weight you gain from eating more carbs than you are used to, this comes on faster than the rate at which you burn fat. Don’t freak out. Don’t do anything drastic. Just follow the strategy I am going to list out below and you will be fine. This is part of the process and HAS to happen for your body to respond how we need it to!</p>
		<p>After 4 – 5 days your water weight gain will subside, the scale will stop increasing and you will then start to see the scale go down. This happens every time we increase carbs with our clients. It is expected and desirable. Let it happen and reap the rewards of an increased metabolism!!</p>
		<p>That being said, dieting for fat loss is not linear. You are going to have some big leaps and small set backs. This happens with every single one of our clients. The people who do the best stick to the program, and resist the urge to make impromptu changes based on what the scale says. Remember, the scale can be a dirty liar! It is only one tool we look at when gauging fat loss progress. We also need to consider how you look in the mirror, how your clothes fit, and how you look in pictures. This is why we require that you take pics every week. Sometimes we don’t see the changes in our body week to week. The pictures however, do not lie!</p>
		<p>Moving on!! </br>I have created the follow protocol for you to implement to insure that you are always burning fat and making steady and smooth progress.</p>
		<p>
			<ol>
				<li>Follow the above recommendations for nutrients using the cardio and weight training recommendations outlined below.while working out at the same frequency and intensity as you are currently.</li>
				<li>Do not cheat. Seriously – it will only harm your results. If you eat it, track it. It’s that simple. Log everything and use www.macrotracker.com to ensure your food journal is 100% accurate.</li>
				<li>Be sure to hit your macros within 5 grams each and every day. If you slip up, learn from it and make adjustments the next day.</li>
				<li>Keep doing this for two weeks total. Weigh yourself every day at the same time, tracking your weight. Remember that the second half of the word “carbohydrate” is “hydrate”, and carbs cause water retention. If the carbs I assigned you are more than what you are used to eating, YOU ARE GOING TO GAIN WEIGHT!!  Expect it. Embrace it. Enjoy the extra carbs and know that after about 5-7 days you should be able to see a normal trend starting to occur as your body will have adapted to the level of food you are now taking in. The scale will stop going up, and a few days later it will go down. Let this happen and don’t freak out when it does. You are still burning fat even though you are gaining water weight.</li>
				<li>Take progress pictures once per week on the same day when you first get up in the morning. Take these pictures from the front, sides, as well as the back (if you can – or ask someone to help you with this). Wear a bathing suit (or your underwear if you prefer) so you can see as much of your body/skin as possible. Use the same lighting to keep things consistent.</li>
				<li>After two full weeks have passed, check your weight and look at your progress pictures. Are you losing weight? Do you look leaner? Do you have more muscle definition? It may also be helpful to try on a pair of your favorite jeans as well to see how they are fitting. Based on the answer to these questions, you will then want to make a few further adjustments.
					<ol type="a">
						<li>If you have <span style="text-decoration: underline;">lost</span> weight from where your weight was at the end of the first seven days of the plan (when your weight had adapted to the diet), you’ll want to keep going with the macros you are using.</li>
						<li>If you have gained weight from day 7 drop 20 grams of carbs and 5 grams of fats. Keep this constant for one more week and then evaluate <b>(protein stays the same)</b>.</li>
						<li>If you are the <span style="text-decoration: underline;">same</span> weight and don’t notice yourself looking any leaner, drop carbs by 10 grams and the fats by 5 grams <b>(protein stays the same)</b>. Wait one more week holding this constant and then re-evaluate from there.  *Note: you may be the same weight but look leaner if you have built muscle and lost fat. If that is the case, this is great news and you should keep going as is as you are losing fat. This is what we want!</li>
					</ol>
				</li>
				<li>After keeping track with your new/same macros for 2 more weeks at minimum, you hit a weight loss stall (which is defined as no weight loss for a 10-day period), you’ll want to do a <b>refeed day</b>. To do this, you’ll want to hit the following macros:
					<ol type="a">
						<li>Xxx protein</li>
						<li>Xxx carbs</li>
						<li>Xxx fats (make sure that you strictly adhere to this number – do NOT go over this number on your refeed day).</li>
					</ol>
				</li>
				<li>After the <b>one refeed day</b>, you’ll reduce 15 grams of carbs from your regular macros (prior to the refeed). This will help get fat loss moving again</br></br>  *Note: you will likely gain a few pounds immediately following the refeed due to water retention, so don’t stress if that is the case. It will be gone in a few days. Resist the urge to drop more than 15 carbs. More is not always better. We want to keep your food intake as high as we can. It is always better to diet on MORE FOOD than less, provided you are still able to lose weight!</li>
				<li>If you plateau again (another 10-day period of no noticeable change in your weight, pics or clothing), have another refeed but this time decrease your fat intake by 5 grams, the following day.</li>
				<li>If you stall again, have another refeed, and drop your carbs by 15 grams,</br></br>  Continue alternating 15 grams of carbs with 5 grams of fats after each refeed following a stall. This is how you will avoid plateauing and keep weight loss progressing along.</br></br>  Remember that these refeeds/decrease in macros only comes after you are stalled for 10 days. If it hasn’t been 10 days yet, keep going with the program and wait it out. Most people will not need to have a refeed/decrease more than once a month, some people will need to do it even less frequently than this. You should not be making changes to your macros every week or two.</li>
				<li>As you continue on with this process, the lowest you should ever take your macros on regular (non-refeed) days is:
					<ol type="a">
						<li>Xxx protein</li>
						<li>Xxx carbs</li>
						<li>Xxx fats</li>
					</ol>
				</li>
			</ol>
		</p>
		<p>This is the absolute lowest you would ever get in the most extreme situation. You simply do not need to get this low to accomplish your goals. In fact, I don’t think you will need to dip under xx grams of carbs to make the change are looking to, which should happen within xxx months of starting this program.</p>
		<p>At no point should you ever change your macros more than what I have listed here or create more than a 20% energy deficit from your total daily energy expenditure (TDEE), which remember, will be adjusted as you continually progress and lose body fat. </p>
		<p style="text-decoration: underline;">
			<b>How To Track Your Macros</b>
		</p>
		<p>To use this program correctly, you are going to have to start tracking your macros. Now, you may already know how to do that, but if you who don’t, here’s a primer:</p>
		<p>
			<ol>
				<li>Purchase a digital food scale and for at least one week (preferably longer!) start weighing your food. Set it to grams</li>
				<li>If you weigh your food uncooked, always weigh your food uncooked. Likewise, if you prefer weighing cooked. (Usually grains that absorb water such as rice, past and oats, are measured dry or uncooked, while things that release water while they are cooked; chicken, veggies etc, are weighed and logged cooked.</li>
				<li>Log your food. Use a site such as MacroTracker.com to track all of your food. Aim to do this immediately after you eat (or before) so you never forget to log something. Get into the habit of doing this and soon, it’ll happen automatically.</li>
				<li>Review your daily totals frequently (and preferably before your meals) to see where you are at each time.</li>
				<li>Be sure to hit your target macros and calories at the end of each day. This can be done by looking at your numbers before your last meal and making sure that last meal provides you with everything that you need.</li>
			</ol>
		</p>
		<p style="text-decoration: underline;">
			<b>Some important things to remember:</b>
		</p>
		<p><span style="text-decoration: underline;">First</span>, don’t sweat it if the first week you are slightly off. If you have never tracked your macros before, this is to be expected. There is a slight learning curve, but you’ll be a champ in no time. Start watching for trends in which macros you are under/over and then adjust your food intake accordingly. If you are always over on your fats, look at your MacroTracker.com log and see what foods you always eat that are high in fat, then pull back on those until you nail your numbers.</p>
		<p><span style="text-decoration: underline;">Second</span>, do not track your exercise into the food apps you use. This will only increase your calorie requirements and make things more confusing. Just stick to the recommendations I have given you, knowing we have already factored exercise into the equation. </p>
		<p><span style="text-decoration: underline;">Third</span>, have fun. Remember, IIFYM is not about eating AS MUCH food as you want, but rather, eating foods you crave when you crave them – in moderation and in accordance with your recommendations. So eat pizza. But, make sure that it fits in your daily macros.</p>
		<p><span style="text-decoration: underline;">Finally</span>, don’t stress about the other details. While meal timing and frequency may be important for elite athletes, recent science indicates that it accounts for less than 1% of total fat loss progress. This means, the stress you experience about when you are eating is doing you more harm than whether you actually go 3 or 5 hours between meals. </p>
		<p>Just don’t stress about it. Relax. Hit your macros and the rest will take care of itself.</p>
		<p style="text-decoration: underline;">
			<b>Meal Planning</b>
		</p>
		<p>The nice part about IIFYM is that you can choose to eat whatever you want. However, you’ll find that it’s hard to meet your ratios if you eat nothing but “junk food”. For example, if you want to eat pizza, you can. An average medium slice of pepperoni pizza has 10 grams of protein, 13 grams of fat, and 26 grams of carbohydrate. You could probably eat one slice and still meet your daily nutrient goals.</p>
		<p>But, if you eat three slices of pizza, you’re up to 39 grams of fat. If you are only allowed 50 grams of fat for the day (example only) eating 3 slices of pizza might not be the best idea.</p>
		<p>Overall, you’ll want to choose nutrient-dense, healthy foods for most of the day, and eat smaller amounts of the less nutrient dense foods. Good choices include fruits and vegetables, lean meat, low-fat dairy, and whole grains. By eating more nutrient-dense foods, you’ll get the nutrients that you need (including important vitamins and minerals) and feel full and satisfied. Select natural foods over processed foods, and choose foods without much added salt, added sugar, or added fat.</p>
		<p>Traditional “clean” foods eaten by athletes include whole grains like rice, rice cakes, and oats or oatmeal. Favorite high protein foods for bodybuilders are lean chicken, turkey, and fish, egg whites, and protein shakes. Vegetables like spinach and broccoli are also commonly eaten. But, these aren’t the only foods you can eat, and the more variety you have, the better. Some more good choices from each food group are:</p>
		<p>
			<ul>
				<li><span style="text-decoration: underline;"><b>Fruits:</b></span> Any fruits are good! They are natural sources of carbohydrates. Fruits are also naturally sweet, making them a good low-calorie way to sweeten other foods without adding sugar. Bananas and other fruits are a great addition to smoothies made with yogurt, protein powder, and maybe some spinach too.</li>
				<li><span style="text-decoration: underline;"><b>Vegetables:</b></span> All vegetables are good too. Vegetables are also a natural source of carbohydrates. Some vegetables, like potatoes and sweet potatoes, have more protein than other vegetables, but they’re all healthy and nutrient-packed. Some vegetables, like avocados and olives, also contain some healthy fat.</li>
				<li><span style="text-decoration: underline;"><b>Protein:</b></span> Chicken and turkey without skin are good, low-fat choices, as are fish and shellfish. Baking, grilling, and broiling are good options for cooking without adding too much fat. Lean and extra lean beef is also a good option. Lean pork, venison, and tofu are also good. Egg whites or whole eggs are healthy sources of protein too. Nuts and seeds also contain protein; try pumpkin or sunflower seeds without added salt. Finally, beans, peas, and lentils without fat added are great sources of protein too.</li>
				<li><span style="text-decoration: underline;"><b>Dairy:</b></span> Milk, yogurt, and cheese provide protein, carbohydrates, and fat. Try fat free or one percent milk to avoid too much fat. Unsweetened soy, almond, and rice “milks” are also good options. They have varying amounts of protein, so check the labels and find one that meets your needs. Fat-free or low-fat yogurt are good choices. For cheese, low-fat or part skim cheese is best. String cheese and cottage cheese are good options.</li>
				<li><span style="text-decoration: underline;"><b>Grains:</b></span> Any whole grain foods are good. Try a variety of grains, like wheat, bulgur, barley, and rye. Air-popped popcorn is a good whole-grain snack.</li>
				<li><span style="text-decoration: underline;"><b>Oils:</b></span> Oils aren’t actually a food group, but they are essential. Most people get enough oil from foods they eat in the other food groups. Healthy sources of oils include nuts, fish, coconut oil and olive oil. Remember, if you take fish oil as a supplement, you must track it in your log. Every fish oil cap has 1 gram of fat, so make sure you work that in to your log for the day!</li>
			</ul>
		</p>
		<p>As long as you eat these foods most often and eat the less healthy foods less often, you’ll be able to meet your macronutrient ratios. The USDA MyPlate website has more ideas for healthy choices from each food group. When planning what foods to eat, also remember that most foods contain more than one macronutrient. For example, bread is commonly thought of as a carbohydrate food, but it also contains small amounts of fat and protein. However, there are some foods that only contain one macronutrient. Sugar is a good example – it’s all carbohydrate. Keep this in mind when choosing foods. They probably contain more than one macronutrient, so make sure to read the label first.</p>
		<p>If you go out to eat, it can be hard to know exactly how much you’re eating by its nutrition content. If you can, look up the restaurant’s nutrition information before you go. You may be able to pick out dishes you can order that will still meet your nutritional needs. If you can’t find information ahead of time, you may want to eat only a small meal at the restaurant. Try to estimate how much of each dish you’re eating. Then when you get home you can look up the nutrition information of each food and record it. This way you hopefully won’t go over your target amounts for each macro, and you can eat more at home if you didn’t get enough.</p>
		<p style="text-decoration: underline;">
			<b>Eating Enough Protein</b>
		</p>
		<p>If you have a hard time getting in all the protein I gave you (which is not all that much really) there are lots of different ways to add it to your diet without adding too much fat or carbohydrates. Meat is a common source of protein, but you can also get protein from nuts, beans, seeds, eggs, cheese, milk, and soy foods. Protein powder can also be a good way to add protein.  Including a variety of these foods is a good way to increase your protein intake. Here are some ideas for each meal of the day.</p>
		<p>
			<ul>
				<li><span style="text-decoration: underline;"><b>Breakfast:</b></span> Greek yogurt is a good source of protein. Try it with healthy granola (try to find it without added sugar) and berries. Add in some almond slivers for more protein. Eggs are also a great source of protein. Stir in some black beans and cheese for a tasty high-protein breakfast.</li>
				<li><span style="text-decoration: underline;"><b>Lunch:</b></span> A traditional lunch of a sandwich and salad may not give you enough protein. Try adding more lean meat and only using one slice of bread. You can also eat soup or chili with beans as a side, or add almonds or cashews to your salad.</li>
				<li><span style="text-decoration: underline;"><b>Snacks:</b></span> Nuts and nut butters are good high-protein snacks that can help control your appetite between meals. Try combining the high-protein food with food from another food group for a balanced snack. For example, try an apple with peanut butter. Hard boiled eggs are also a good snack and one that’s easy to make ahead of time and take with you to work. Protein powder is also a quick and easy snack to have when you’re on the go, especially after workouts.</li>
				<li><span style="text-decoration: underline;"><b>Dinner:</b></span> Include lean meat, fish, or poultry for a good serving of protein. Tofu can also be a good choice if you don’t eat meat. Cottage cheese is also high in protein, and with a little fruit mixed in it could be a good addition to dinner.</li>
			</ul>
		</p>
		<p>Part of the Blueprint that you purchased includes a sample meal plan. Remember that this is ONLY a sample and is not specific to the macros I created for you.</p>
		<p style="text-decoration: underline;">
			<b>Sample Meal Plan</b>
		</p>
		<p>
			<table style="width: 100%;" class="table">
				<thead>
					<tr class="header">
						<th colspan="6">Meal #1</th>
					</tr>
					<tr>
						<th></th>
						<th>Servings</th>
						<th>Proteins</th>
						<th>Carbs</th>
						<th>Fat</th>
						<th>Calories</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Protein Pancakes</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Protein Powder</td>
						<td>1 scoop</td>
						<td>25</td>
						<td>6</td>
						<td>1</td>
						<td>133</td>
					</tr>
					<tr>
						<td>Egg Beaters</td>
						<td>½ cup</td>
						<td>13.5</td>
						<td>2.5</td>
						<td>0</td>
						<td>64</td>
					</tr>
					<tr>
						<td>Chocolate Chips</td>
						<td>32 chips</td>
						<td>1</td>
						<td>10</td>
						<td>4</td>
						<td>80</td>
					</tr>
					<tr>
						<td>Stevia</td>
						<td>1 packet</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Baking Soda</td>
						<td>1 tsp</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="footer">
						<td colspan="2">TOTALS</td>
						<td>39.5</td>
						<td>19.5</td>
						<td>5</td>
						<td>281</td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<table style="width: 100%;" class="table">
				<thead>
					<tr class="header">
						<th colspan="6">Meal #2</th>
					</tr>
					<tr>
						<th></th>
						<th>Servings</th>
						<th>Proteins</th>
						<th>Carbs</th>
						<th>Fat</th>
						<th>Calories</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Petit Sirloin Steak</td>
						<td>40z</td>
						<td>23</td>
						<td>0</td>
						<td>7</td>
						<td>155</td>
					</tr>
					<tr>
						<td>Quinoa</td>
						<td>1 cup cooked</td>
						<td>6</td>
						<td>30</td>
						<td>2.5</td>
						<td>166.5</td>
					</tr>
					<tr>
						<td>Chicken Broth</td>
						<td>½ cup</td>
						<td>13.5</td>
						<td>2.5</td>
						<td>0</td>
						<td>10.5</td>
					</tr>
					<tr>
						<td>Grilled Plantains</td>
						<td>32 chips</td>
						<td>1</td>
						<td>10</td>
						<td>4</td>
						<td>205.4</td>
					</tr>
					<tr class="footer">
						<td colspan="2">TOTALS</td>
						<td>43.5</td>
						<td>42.5</td>
						<td>13.5</td>
						<td>537.4</td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<table style="width: 100%;" class="table">
				<thead>
					<tr class="header">
						<th colspan="6">Meal #3</th>
					</tr>
					<tr>
						<th></th>
						<th>Servings</th>
						<th>Proteins</th>
						<th>Carbs</th>
						<th>Fat</th>
						<th>Calories</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>PB Banana Smoothie</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Banana</td>
						<td>1 banana</td>
						<td>1.4</td>
						<td>29</td>
						<td>0</td>
						<td>121.6</td>
					</tr>
					<tr>
						<td>Peanut Butter</td>
						<td>1 tbsp</td>
						<td>4</td>
						<td>3</td>
						<td>8</td>
						<td>100</td>
					</tr>
					<tr>
						<td>Protein Powder</td>
						<td>½ scoop</td>
						<td>12.4</td>
						<td>3</td>
						<td>0.5</td>
						<td>66.1</td>
					</tr>
					<tr>
						<td>Water to mix</td>
						<td>½ cup</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Natures Valley Granola Bar</td>
						<td>1 package</td>
						<td>10</td>
						<td>14</td>
						<td>12</td>
						<td>204</td>
					</tr>
					<tr class="footer">
						<td colspan="2">TOTALS</td>
						<td>27.8</td>
						<td>49</td>
						<td>20.5</td>
						<td>491.7</td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<table style="width: 100%;" class="table">
				<thead>
					<tr class="header">
						<th colspan="6">Meal #4</th>
					</tr>
					<tr>
						<th></th>
						<th>Servings</th>
						<th>Proteins</th>
						<th>Carbs</th>
						<th>Fat</th>
						<th>Calories</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Jerk Seasoned Grilled Chicken</td>
						<td>4oz</td>
						<td>22</td>
						<td>0</td>
						<td>5</td>
						<td>133</td>
					</tr>
					<tr>
						<td>Baked Sweet Potato</td>
						<td>¾ cup</td>
						<td>3</td>
						<td>35</td>
						<td>0</td>
						<td>152</td>
					</tr>
					<tr>
						<td>Asparagus</td>
						<td>10 spears</td>
						<td>3.5</td>
						<td>6</td>
						<td>0</td>
						<td>38</td>
					</tr>
					<tr>
						<td>Butter on potato</td>
						<td>1 tbsp</td>
						<td>0</td>
						<td>0</td>
						<td>12</td>
						<td>108</td>
					</tr>
					<tr>
						<td>Skinny Cow Ice-Cream Sandwich</td>
						<td>1 sandwich</td>
						<td>4</td>
						<td>30</td>
						<td>2</td>
						<td>154</td>
					</tr>
					<tr class="footer">
						<td colspan="2">TOTALS</td>
						<td>32.5</td>
						<td>71</td>
						<td>19</td>
						<td>585</td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<b>Things to remember:</b>
		</p>
		<p>
			<ul>
				<li>This is an IIFYM plan, which means you can swap anything you don’t like for something you do like, as long as you still end up at the right macros at the end of the day.</li>
				<li>Be aware that portion sizes vary and therefore so does the amount of calories.</li>
				<li>Vitamins and minerals come from eating your fruit and vegetables, lots of them, and in great variety. If you’re not so much of a fan of vegetables, try smothering them in some delicious hummus. Avocado is good too and an excellent source of healthy dietary fats….if this fits your macros, of course!</li>
			</ul>
		</p>
		<p>
			<b>Exercise</b>
		</p>
		<p>Since this impacts your total daily calorie burn and that influences how many calories you should be consuming, this does need to get accounted for.</p>
		<p style="text-decoration: underline;">
			<b>Your Exercise Recommendations</b>
		</p>
		<p>As with everything in this suggested program, I want you to run this cardio routine by your doctor to make sure you can handle it.</p>
		<p>In your case, I don’t want you starting off too high. The basic idea with the cardio I am going to encourage you to do, is that you will start slow, and ramp up over time. First, you will need to buy a pedometer. (Don’t use the apps, just buy a real one at Amazon.com.)</p>
		<p>The first week I want you to hit a minimum of 3000 steps per day day. Every week after that I want you to add an additional 1,000 steps. until you hit 10,000+ steps. Once you have done this on a consistent basis, start to ramp up your cardio to medium intensity. If you are willing to increase your intensity by a lot, move to the below cardio routine.</p>
		<p>From here on out, as far as cardio goes, I want you to do a combination of HIIT and MISS cardio only (High Intensity Interval Training with Medium Intensity Steady State cardio). You will do this 3 times per week. No more, no less. You can do this on a treadmill, elliptical, row machine or my favorite, the Airdyne bike.</p>
		<p>
			<b>This is how it will look</b>
		</p>
		<p>5 min. warm-up followed by intervals, followed by a moderate cardio cool down.</br>To get started, do 5 minutes at 140 heart beats per minute (you should be able to hold a conversation at this pace, but barely)</p>
		<p>After your warm up, the fun begins. </br>15 seconds running from the devil. You are shooting for super high, all out, 100% max effort. Hold nothing back. You will seriously feel like dying if you are doing it right. In fact, most people that do the Airdyne bike.</p>
		<p>(Regardless of what machine you use for cardio, if you can go more than 20 seconds, you are not pushing hard enough. You either need to crank up the resistance, speed, or both. This should be the most physically challenging thing you do all day.)</p>
		<p>45 seconds rest. This means that you slow it down to a snail’s pace. Your job right now is to catch your breath, and nothing else. Around the 35 second mark, get ready to unleash hell again.</p>
		<p>Once you are done with your intervals, do another 15 minutes on the same machine at 150 heat beats per minute.</p>
		<p>Your first week you should shoot for 5 intervals. Every week, add one more, until you get to 10. Once you get to 10 total intervals, increase your time from 15 seconds up to 20 seconds and reduce your rest periods from 45 seconds down to 40.</p>
		<p style="text-decoration: underline;">
			<b>Now on to weight lifting.</b>
		</p>
		<p>Weight lifting is going to SKYROCKET your results. Not only will you add muscle mass, but you will also increase your metabolism, which will then allow you to eat more calories while dieting. You will look better and feel better while cutting the time in which you achieve your results DRASTICALLY!</p>
		<p>If you start lifting weights 3 times per week (lifting as heavy as you can while staying safe) you can add 25 grams of carbs to the daily intake above.</p>
		<p>Start a weight training program that focuses on compound exercises, such as Jamie Eason’s LiveFit, Layne Norton’s Power and Hypertrophy or Stronglifts 5x5</p>
		<p>
			<b>(Again, run this by your doctor to make sure you can physically can handle it)</b>
		</p>
		<p style="text-decoration: underline;">
			<b>Lets talk about CARB CYCLING for a minute</b>
		</p>
		<p>If you've been reading a variety of the fat-loss diet literature that's available, you've very likely come across this technique. Essentially carb cycling is a program where you mix higher carbohydrate days with lower carbohydrate days in the effort to lose weight without suffering some of the negative consequences of a pure low carbohydrate diet plan.</p>
		<p>Some of these negative side effects include a drop in exercise performance, increased hunger and craving levels, lowered metabolic rate, and difficulty focusing and concentrating at work or at school.</p>
		<p>By having those higher carbohydrate days back in there, you offset some of these factors, so generally most people find this approach much more enjoyable to use. Before you hop onto the carb cycling diet program though, there are a few key facts that you must keep in mind and remember. Here's what to know.</p>
		<p>
			<ol>
				<li>High carb days should be on heavy training days</li>
				<li>Expect to experience some water weight gain. If you are someone who really struggles psychologically with weight fluctuations (and how you appear in the mirror), this very well could mean carbohydrate cycling is not for you. It is a side effect of this type of plan, and therefore something for which you must absolutely prepare yourself.</li>
				<li>Choose carbs highest in glucose and complex carbs</li>
				<li>Maintain your target weekly calorie level</li>
				<ol type='a'>
					<li>Let's say that you currently maintain your body weight at 2200 calories per day or, 15,400 calories per week. This means to lose one pound per week, you must create a calorie deficit (per week) of 3500 calories, or take in just 11,900 calories. On a standard diet where you maintain the same calorie level on all seven days, this would mean you take in 1700 calories per day (2200-500=1700).</li>
					<ol type='i'>
						<li>Option 1: Set 3 high days at above maintenance (2400 calories). That totals to be 7200 calories. That leaves about 4700 calories left for the week. So the low days would consist of 1200 calories each.</li>
						<li>Option 2: If you'd prefer not to bring your low carbohydrate days that low in overall calories, simply adjust the total calorie intake on the high carbohydrate days slightly downwards. That will give you more calories for those low carb days. For example, you might do three high carbohydrate days at 2000 calories and four low carbohydrate days at 1500. As you can see, this stays within the 300-600 range better that was described in the point above.</li>
					</ol>
				</ol>
			</ol>
		</p>
		<p>Remember, this is a super easy plan to follow, but you do have to follow it! You are going to have to make adjustments as required, however these should be easily done and only take a few moments of your time. Just remember, this is not a sprint. It’s a marathon that does have a finish line. Just stay focused and follow the plan! You will be crossing that finish line in no time.</p>
		<p>
			<b>The real secret to success with IIFYM consistency!!</b>
		</p>
		<p>You have to weigh your food and you have to be as accurate as possible. Don’t lie to yourself. Don’t cheat. Don’t make excuses and DO cut yourself some slack if you screw up. It is going to happen. Just learn from it and move on. If you go over on carbs one day, pull back on carbs by that amount the next day. If you see yourself always going over on fats, look at the foods you are eating, and cut down on the fattiest ones.</p>
		<p> This program is SUPER easy to follow; you just have to be willing to adhere to it. If you do, you will make AMAZING progress.</p>
		<p>Now I know that was a lot of information, so if you have any further questions or concerns regarding your Custom Macro Blueprint. We have 90-day coaching, which includes an unlimited amount of adjustments, unlimited questions and response within 24 business hrs. This online coaching package is available for a <a href="http://iifym.com/go/blueprint-coach">one-time fee of just $97</a> and is the quickest way to clarifying any issues that may arise.</p>
		<p>If you still find all of this confusing, and would rather have it all laid out for you in the form of a super easy meal plan to follow, you can still take advantage of our $100 off sale on the Custom Macro Blueprint. It’s available right now for $397 on our website.  It will help <span style="text-decoration: underline;">guarantee</span> your success.</p>
		<p>What does it include? Our Custom Macro Meal Plan comes with:</p>
		<p>
			<ol>
				<li>21 custom meals that are based on your specific macro recommendations</li>
				<li>A list of tasty foods that you should be eating for optimal health (along with some of your favorite foods that you are currently already eating to make things easy and delicious)</li>
			</ol>
		</p>
		<p>This plan simplifies things for people that want steady and consistent fat burning results!</p>
		<p>The clients that go with the Custom Macro Meal Plan always seem to make much better progress than those that don’t for the simple reason that there is simply less thinking involved.</p>
		<p>Again, the regular price on our site is $397, but we are having a sale right now for $100 off! This means your total discounted price is only $297 since you’ve ordered this book.</p>
		<p>
			<b>If you are ready for your own custom, turnkey solution for immediate fat loss, click here to get started immediately:</b>
		</p>
		<p>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BXCNQHHTNRPKU">$100 off Custom Macro Meal Plan</a>
		</p>
		<p>Once you make your purchase you will get redirected to a page on our site with a short form for you to fill out. Once you submit the forms, we will get started on your program. If you don’t get redirected, send me an email and I’ll get you the link.</p>
		<p>
			<b>Good luck with your weight loss goals and always remember, you are worth it!!</b>
		</p>
		<p>-Trace</p>
	</body>
</html>
